{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row d-flex text-center">
            <div class="col"><h2>{About}</h2></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-6 text-center mb-3">
            <h5>Fur Pets, for all your pet accessories</h5>
            <p class="text-center">We want to offer your the best for your <em>cats &amp; dogs</em> for their comfort and <strong>essential</strong> day to day life.<br></p>
            <p>We aim to please our furry best friends and yours</p>
            <p>To help animals in your local area, please visit <a href="https://www.ispca.ie/" aria-label="Link to ispca.ie website" target="_blank">ISPCA.IE</a></p>
            <a href="{% url 'products' %}">Click here to view all of our products.</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 mb-3">
            <img id="aboutdog" src="{{ MEDIA_URL }}aboutdog.jpg" class="d-block w-50" alt="kitten and dog lying around together">
        </div>
    </div>
</div>

{% endblock %}