.carousel-caption {
    color: #fff;
    width:320px;
    background-color: #000;
    margin:auto;
    
}

.carousel-inner > .carousel-item > img{ 
    margin:auto;
    width:640px;
    height:720px;
}

#aboutdog{
    margin:auto;
}


