<!-- Footer -->
<!--Footer from https://codepen.io/scanfcode/pen/MEZPNd-->
<section id="footer-container">

  <footer class="site-footer">

    <div class="container">

      <div class="row">


        <div class="col-6 ">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="{% url 'animal_products' animal_choice='cat' %}">Cats</a></li>
            <li><a href="{% url 'animal_products' animal_choice='dog' %}">Dogs</a></li>
            <li><a href="{% url 'products' %}?category=bedding">Bedding</a></li>
            <li><a href="{% url 'products' %}?category=toys' %}">Toys</a></li>
            <li><a href="{% url 'products' %}?category=leads_collar' %}">Leads &amp; Collars</a></li>

          </ul>
        </div>


        <div class="col-6 ">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Pet Essentials</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'terms_conditions' %}">Terms &amp; Conditions </a></li>
            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <hr>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p class="copyright-text">Copyright: <span id="copyright"></span>© All Rights Reserved by
            <a href="https://github.com/ExcellentWish" target="_blank">Nigel Doheny</a>.
          </p>
        </div>
      </div>
    </div>

  </footer>
  </div>
</section>