<!-- Footer -->
<!--Footer from https://codepen.io/scanfcode/pen/MEZPNd-->
<section id="footer-container">
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p class="copyright-text">Copyright: <span id="copyright"></span>© All Rights Reserved by
            <a href="https://github.com/ExcellentWish" target="_blank">Nigel Doheny</a>.
          </p>
        </div>
      </div>
    </div>

  </footer>
  
</section>