<!-- navbar on desktop view  -->
<li class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown d-lg-none">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black me-5">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}"
                id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <!-- dropdown menu with different sorting filters  -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- Pet Essentials -->
        <li class="nav-item dropdown"> 
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="bed-leads-toys-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pet Essentials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bed-leads-toys-link">
                <a href="{% url 'products' %}?category=bedding" class="dropdown-item">Bedding</a>
                <a href="{% url 'products' %}?category=toys" class="dropdown-item">Toys</a>
                <a href="{% url 'products' %}?category=leads_collar" class="dropdown-item">Leads &amp; Collars</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="cat-dog-products" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Animal
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cat-dog-products">
                <a href="{% url 'animal_products' animal_choice='cat' %}" class="dropdown-item">Cats</a>
                <a href="{% url 'animal_products' animal_choice='dog' %}" class="dropdown-item ">Dogs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="about-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="{% url 'about' %}" class="dropdown-item">About</a>
                <a href="{% url 'terms_conditions' %}" class="dropdown-item">Terms &amp; Conditions </a>
                <a href="{% url 'privacy_policy' %}" class="dropdown-item">Privacy Policy</a>
                <a href="{% url 'contact_us' %}" class="dropdown-item">Contact Us</a>
            </div>
         </li>   
    </ul>
</div>